#AddBoard .modal-body {
  height: 385px;
}
#AddBoard .form-control {
  margin-bottom: 14px;
}
#AddBoard .control-label {
  padding-top: 5px;
  margin-bottom: 15px;
}

#selecter {
  margin-top: 30px;
  padding-left: 30px;
}

#addBtn {
  width: 80px;
  height: 35px;
  font-size: 15px;
  font-weight: 300;
  background-color: #2d335e;
}
#subtable {
  position: relative;
  margin-left: -15px ;
  padding-left: 15px;
  /* border: 1px red solid;  */
  top: 10px;
}
#rank-section {
  padding-left: 10px;
}
#button-form {
  display: inline;
}
button#All{
  display: inline-block;
  padding: .4em .8em;
  background: #fff;
  width: 50px;
  height: 30px;
  border: 0;
  color: #000;
  font-weight: 900;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
button#DOG{
  display: inline-block;
  padding: .4em .8em;
  background: #fff;
  width: 50px;
  height: 30px;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  background-image: url(../images/dog.png);
  background-size: cover;
}
button#CAT{
  display: inline-block;
  padding: .4em .8em;
  background: #fff;
  width: 50px;
  height: 30px;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  background-image: url(../images/cat.png);
  background-size: cover;
}
button#FISH{
  display: inline-block;
  padding: .4em .8em;
  background: #fff;
  width: 50px;
  height: 30px;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  background-image: url(../images/fish.png);
  background-size: cover;
  background-position: center;
}
button#BIRD{
  display: inline-block;
  padding: .4em .8em;
  background: #fff;
  width: 50px;
  height: 30px;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  background-image: url(../images/bird.png);
  background-size: 45px 35px;
  background-position: center;
}
button#ETC{
  display: inline-block;
  padding: 6px;
  background: #fff;
  width: 50px;
  height: 30px;
  border: 0;
  color: #000;
  font-weight: 900;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
button#All.active{
  background: #d06a79;
}
button#DOG.active{
  background: #d06a79;
  background-image: url(../images/dog.png);
  background-size: cover;
}
button#CAT.active{
  background: #d06a79;
  background-image: url(../images/cat.png);
  background-size: cover;   
}
button#FISH.active{
  background: #d06a79;
  background-image: url(../images/fish.png);
  background-size: cover;
  background-position: center;
}
button#BIRD.active{
  background: #d06a79;
  background-image: url(../images/bird.png);
  background-size: 45px 35px;
  background-position: center;
}
button#ETC.active{
  background: #d06a79;
}
button:focus{ /* 활성화 시 버튼 주변의 라인을 없애줌 */
  outline: 0 none;
}


/* search form style */
.search-form {
  position:relative;
  width:auto;
  height:auto;
  float: right;
  right: -25px;
      /* border:1px blue solid; */
}
#AddBoard .form-control:focus {
  outline: 0 none;
/*  border: 1px #d06a79 solid;*/
/*  box-shadow: 0px 0px 5px 1px #C07C86;*/
}
.form-search {
  position: relative;
  border-radius: 6px;
  float: right;
  width: 215px;
  height: 25px;
  margin-left: 10px;
  border: 1px #D7DBDB solid;
  padding-right: 30px;
  padding-left: 5px;
}
.form-search:focus {
  outline: 0 none;
/*  border: 1px #d06a79 solid;*/
/*  box-shadow: 0px 0px 5px 1px #C07C86;*/
}
#AddBoard .form-submit {
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  border: 1px;
  float: right;
  right: 25px;
  width: 25px;
  height: 25px;
  z-index: 1;
}

#AddBoard .form-submit:active {
  font-size: 15px;
/*  color: #d06a79;*/
}

/* more scroll button */
#more {
  position:relative;
  margin: 0 auto;
  text-align: center;
/*  width: 992px;*/
/*  background-color: #2d335e;*/
}

.moreBtn {
  background-color: #2d335e;
  padding: 2px 550px;
  font-size: 20px;
  height: 30px;
  text-decoration: none;
  color: #000;
}

.moreBtn:hover {
  text-decoration: none;
}

#modo .modal-dialog, #modo .modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  border-radius: 0;
}

#modo .modal-header {
  height: 50px;
  font-size: 20px;
}

#modo .modal-header i {
  color: #ff0000;
  font-size: 25px;
}

#modo .modal-body {
  font-size: 16px;
}

#modo .modal-footer {
  height: 40px;
}

#okok {
  position: relative;
  bottom: 10px;
  width: 70px;
  height: 35px;
  border-radius: 0;
  background-color: #2d335e;
}


#AddBoard .modal-dialog, #AddBoard .modal-content {
  border-radius: 0;
}

#eduContent {
  resize: none;
}