.m_content {
    position: inherit;
    padding-top: 47px;
    margin: 0 auto;
    width: 1024px;
    text-align: center;
    overflow: hidden;
    z-index: 500;
}

.m_img {
    width: 1024px;
    height: auto;
}

.m_boast {
    padding-top: 10px;
}

.m_most {
    width: 300px;
    height: auto;
    padding-left: 0px;
    padding-right: 62px;
    overflow: hidden;
}

li {
    list-style: none;
}

table {
    border: none;
}
tr {
    border: none;
}
td {
    border: none;
}
img {
    width:300px;
    height:150px;
    border-radius:10px;
}

div > a {
  text-decoration: none;
}

div > a:hover {
  text-decoration: none;
}