.main-img {
  margin-left: 90px;
    width: 1100px;
    height: 580px;
}

.contents {
  padding-top: 10px;
  text-align: center;
}

.boast {
  margin: 0 auto;
  width: 1200px;
}

.subtitles {
  max-width: 1100px;
  text-align: left;
  text-decoration: none;
  color: #2d335e;
}

.subtitles:hover {
  text-decoration: none;
  color: #2d335e;
}

table {
    border: none;
}
tr {
    border: none;
}
td {
    border: none;
}

#cardSection {
  padding-top: 10px;
  padding-bottom: 500px;
}

.map_wrap {
  margin-top:50px; 
  margin-bottom: 16%;
}