
.gallery-items { 
    position: relative;
    right: 20px;
    font-size: 0;
    width: 1024px;
}

.gallery-item {
    display: inline-block;
    transition: height 500ms ease;
}

.gallery-expander {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 500ms ease;
}

.gallery-contents { position: relative; }

.gallery-contents:after {
  display: block;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -30px;
  width: 0;
  height: 0;
  content: '';
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  -webkit-transition: border-bottom-width 500ms ease;
  -o-transition: border-bottom-width 500ms ease;
  transition: border-bottom-width 500ms ease;
}

.gallery-item.active .gallery-contents:after { border-bottom-width: 30px; }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
/*    text-align: center;*/
}

.gallery-item {
    text-align: left;
    font-size: 25px;
    margin: 0 4px;
}

.gallery-item .thumbnail {
    position: relative;
    width: 248px;
    height: 481px;
    overflow: hidden;
    cursor: pointer;
}

.thumbnail {
    border: 0px;
    background-color: rgba(140,140,140,0);
}

.gallery-item .title {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.gallery-contents:after { border-bottom-color: #F0F0E0; }

.gallery-expander { background: #F0F0E0; }

.gallery-expander-contents {
    margin: 0 auto;
    width: 1000px;
    padding: 10px 0;
}
@media (min-width: 640px) and (max-width: 999px) {
    .gallery-expander-contents { width: 640px; }
}
@media (max-width: 639px) {
    .gallery-expander-contents { width: 100%; }
}
.gallery-expander-contents:after {
    clear: both;
    display: table;
    content: '';
}
.gallery-expander-contents > div.col {
    float: left;
    width: 480px;
}
@media (min-width: 640px) and (max-width: 999px) {
    .gallery-expander-contents > div.col { width: 310px; }
}
@media (max-width: 639px) {
    .gallery-expander-contents > div.col {
      float: none;
      padding: 25px 20px 0;
      width: auto;
    }
}
.gallery-expander-contents > div.col + div.col { margin-left: 40px; }
@media (min-width: 640px) and (max-width: 999px) {
    .gallery-expander-contents > div.col + div.col { margin-left: 20px; }
}
@media (max-width: 639px) {
    .gallery-expander-contents > div.col + div.col { margin-left: 0px; }
}
.gallery-expander-contents div.close {
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 20px;
}

.gallery-expander-contents div.title {
    font-weight: 500;
    color: #D28A3C;
}

.gallery-expander-contents div.contents {
    margin-top: 10px;
    border-top: 1px solid #BCB098;
    border-bottom: 1px solid #BCB098;
    padding: 10px 0;
    height: 300px;
    overflow-y: scroll;
    font-size: 14px;
    line-height: 24px;
    color: #797262;
}

.gallery-expander-contents div.input {
    font-size: 15px;
}

.gallery-expander-contents div.input > textarea {
    width: 400px;
    height: 40px;
    overflow: visible;
    border: 0px;
    resize: vertical;
}

.gallery-expander-contents div.input > a {
    font-size: 30px;
}

.gallery-expander-contents div.comment {
    
}

.gallery-expander-contents div.image > img {
    max-width: 480px;
    margin: 0 auto;
/*    display: block;*/
}

div.item {
    height: 600px;
    width: 480px;
    position: relative;
}

div.item img {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideimg {
    max-width: 480px;
    
    padding-right: auto;
    padding-left: auto;
}