
#content {
  position: relative;

  width: 1024px;
  margin: 0 auto;
}

#title-section {
  position: relative;
  height: 60px;
  width: 1024px;
  margin: 0 auto;
  margin-top: 10px;
  border-bottom: 2px #d06a79 solid;
  border-top: 2px #d06a79 solid;
  font-weight: 500;
  font-size: 17px;
}

#title {
  padding-top: 10px;
  margin: 0 auto;
  width: 1024px;
  font-size: 30px;
  font-weight: 500;
}

#writer {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}

#likes {
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  cursor: pointer;
}

#views {
  float: right;
  margin-top: 15px;
}

#cre_dt {
  float: right;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 10px;
}

.fa-thumbs-o-up {
  color: #767475;
}

#likes-span::selection {
  background-color: none; 
  color:black; 
  text-shadow:none;
}

#carousel-example-generic {
/*  float: left !important;*/
  position: relative;
  width: 1024px;
  height: 600px;
  margin: 0 auto;
  margin-top: 10px;
  border-left: 2px solid #2d335e;
  border-right: 2px solid #2d335e;
  background-color: #fff;
}

div.item {
  height: 600px;
  position: relative;
}

div.item img {
  max-width: 1024px;
  max-height: 600px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#carousel-example-generic li {
  border: 1px solid #2d335e;
  padding: 1px;
  zoom: 1;
}

#carousel-example-generic li.active {
    background-color: #d06a79;
}

#left-control,
#right-control{
   color: #000;
      font-size: 1px;
      opacity: 1;
      width: 15%;
      text-align: left;
      text-shadow:1px 1px 3px rgba(255, 255, 255, 1);
/*
  position: absolute;
  top: 420px;
  height: 0px;
  width: 0px;
  color: black;
*/
  background: linear-gradient(to left, white, white)
}


#content-content {
  width: 1024px;
  height: 200px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  border-left: 2px solid #2d335e;
  border-right: 2px solid #2d335e;
}

#content-content-content {
  margin: 0 auto;
  width: 900px;
  max-height: 190px;
  overflow-y: scroll;
  background-color: transparent;
  border: 0;
  font-size: 15px;
}

#btn-Section {
  width: 1024px;
  margin: 0 auto;
  height: 40px;
}

#list {
  float: right;
}

#delete {
  float: right;
  width: 60px;
}

#list-Btn {
  background-color: #2d335e;
  border: 1px #2d335e solid;
}

#list-Btn:focus {
  outline: none;
}

#delete-Btn {
  background-color: #d06a79;
  border: 1px #d06a79 solid;
}

#delete-Btn:focus {
  outline: none;
}

#delete-yes:FOCUS {
  outline: none;
}

#delete-no:FOCUS {
  outline: none;
}

#comment-delete-yes:FOCUS {
  outline: none;
}

#comment-delete-no:FOCUS {
  outline: none;
}

.close:FOCUS {
	outline: none;
}

.input {
  margin: 0 auto;
  width: 1024px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  border-top: 2px solid #d06a79;
  border-bottom: 2px solid #d06a79;
  background-color: #2d335e;
  padding: 0 9px;
}

#comimg {
  margin-top: 10px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  float: left !important; 
}

#comcontent {
  margin: 10px auto 5px auto;
  padding: 7px;
  width: 84%;
  height: 50px;
  overflow: visible;
  border: 2px solid #d06a79;
  border-radius: 5px;
  resize: none;
}

#comcontent:focus {
  outline-style: solid;
  outline-width: 0px;
}

#comAddBtn {
  position: absolute;
  min-width: 56x;
  margin-top: 10px;
  margin-left: 8px;
  padding: 11px 12px 12px 12px;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  background-color: #d06a79;
  color: #fff;
  border: 2px solid #d06a79;
  border-radius: 5px;
}

#comAddBtn:hover {
  color: #a12141;
  border: 2px solid #a12141;
}

.comments {
  margin: 0 auto;
  width: 1024px;
  min-height: 480px;
  overflow-y: scroll;
  border-bottom: 1px solid #d06a79;
  background-color: #2d335e;
  margin-bottom: 150px;
}

.comment {
  margin-top: 5px;
  min-height: 50px;
  margin-bottom: 7px;
  color: #fff;
}

.commentimg {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.commentname {
  float: left;
  font-size: 15px;
  font-weight: 900;
  max-width: 360px;
  margin-left: 10px;
  color: #d06a79;
}

.commenttext {
  width: 91.5%;
  min-height: 55px;
  font-size: 14px;
  word-break: break-all;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  margin-left: 70px;
  padding-bottom: 7px;
  padding-top: 30px;
}

#comment-more {
	position: relative;
	bottom: 160px;
}

#more {
  width: 1024px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
  background-color: #fff;
}

#moreBtn {
  color: #2d335e;
  text-decoration: none;
}
#moreBtn:hover {
  text-decoration: none;
}