        
        #content {
            position: relative;

            width: 1024px;
            margin: 0 auto;
        }
        
        #title-section {
            position: relative;
            height: 120px;
            width: 800px;
            margin: 0 auto;
            margin-top: 80px;
            border-bottom: 2px #FBBCD6 solid;
            border-top: 2px #FBBCD6 solid;
            background-color: #FCE3ED;
        }
        
        #title {
            position: relative;
            left: 40px;
            top: 20px;
            font-size: 30px;
            font-weight: 500;
        }
        
        #writer {
            position: relative;
            float: right;
            top: 30px;
            right: 450px;
            font-size: 17px;
            font-weight: 300;
        }
        
        #cre_dt {
            position: relative;
            font-size: 17px;
            float: right;
            right: 220px;
            top: 29px;
            font-weight: 300;
        }
        
        #views {
            position: relative;
            font-size: 17px;
            float: right;
            top: 28px;
            font-weight: 300;
        }
        
        #likes {
            position: relative;
            float: right;
            font-size: 17px;
            font-weight: 300;
            right: -140px;
            top: 28px;
            cursor: pointer;
        }
        
        .fa-thumbs-o-up {
            color: #767475;
        }
        
        #likes-span::selection {
            background-color: none; 
            color:black; 
            text-shadow:none;
        }
        
        #carousel-example-generic {
            position: relative;
            width: 1024px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 120px;
            padding: 0;
        }
        
        .carousel-indicators {
            top: 375px;
        }
        
        .carousel-indicators .active {
            background-color: #919191;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
        
        .carousel-indicators > li {
            border: 1px #C9C9C9 solid;
        }

        #img-container {
            position: relative;
            width: 1024px;
            height: 400px;
            margin: 0 auto;
        }
        
        #img-container-inner {
            position: relative;
            margin: 0 auto;
            width: auto;
            height: 400px;
            overflow-y: hidden;
        }
        
        #img-section {
            position: relative;
            margin: 0 auto;
            height: 400px;
            align-content: center;
        }
        
        #img {
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 480px;
            max-height: 480px;
            padding-right: auto;
            padding-left: auto;
            margin: 0 auto;
            height: 400px;
        }
        
        #left-control,
        #right-control{
            position: absolute;
            top: 420px;
            height: 0px;
            width: 0px;
            color: black;
            background: linear-gradient(to left, white, white)
        }
        
        #left-control{
            left: 450px;
        }
        
        #right-control{
            right: 450px;
        }
        
        #content-content {
            width: 800px;
            margin: 0 auto;
            margin-bottom: 50px;
            padding-bottom: 50px;
            border-bottom: 2px #FBBCD6 solid;
        }
        
        #list {
            position: relative;
            float: right;
            top: 115px;
            width: 60px;
        }
        
        #list-Btn {
            background-color: #E29CBB;
            border: 1px #FBBCD6 solid;
        }
        
        #list-Btn:focus {
            outline: none;
        }
        
        #content-content-content {
            background-color: #E0E1E1;
            width: 800px;
            padding: 20px;
        }
        