@keyframes updown {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: 100px;
  }
}


@keyframes dog_mouth {
  0% {
    height: 20px;
  }
  100% {
    height: 65px;
  }
}


@keyframes dog_ear_left {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@keyframes dog_ear_right {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.dog {
/*    animation: updown 1s infinite alternate;*/
    width: 230px;
    height: 230px;
    background-color: #fff;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    float: left;
    margin: 180px 0 0 0;
    border: 40px solid #f9f6f5;
    text-align: center;
    position: relative;
/*    top: -300px;*/
}

.dog_ear {
  width: 45px;
/*  background-color: #6a150e;*/
  height: 45px;
  position: absolute;
  top: -5px;
}

.dog_ear.left {
  animation: dog_ear_left 1s infinite alternate;
  right: -15px;
  transform: rotate(10deg);
  transform-origin: left center;
  border-top: 5px solid #dccac5;
  border-right: 10px solid #dccac5;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.dog_ear.right {
  animation: dog_ear_right 1s infinite alternate;
  left: -15px;
  transform: rotate(-10deg);
  transform-origin: right center;
  border-top: 5px solid #dccac5;
  border-left: 10px solid #dccac5;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.dog_eye {
  width: 7px;
  height: 7px;
  background-color: #fff;
  display: inline-block;
  border-radius: 100%;
  border: 6px solid #333;
  margin: 50px 20px 15px;
  position: relative;
  bottom: 50px;
}

.dog_eye_right{
  transform: rotate(45deg);
  width: 58px;
  height: 47px;
  background-color: #dccac5;
  border-radius: 100%;
  position: relative;
  left: 83px;
  top: 35px;
}

.dog_nose {
  border-top: 15px solid #212121;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 7px;
  margin: 0 auto;
  border-top-left-radius: 55%;
  border-top-right-radius: 55%;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 70%;
  position: relative;
  bottom: 140px;
}

.dog_nose:after {
  content: '';
  width: 2px;   /* 인중 */
  height: 30px;
  background-color: #212121;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.dog_mouth {
  animation: dog_mouth 1s infinite alternate;
  width: 70px;
  height: 40px;
  border-bottom: 10px solid #dccac5;
  background-color: #5c0e0e;
  border-top-left-radius: 90%;
  border-top-right-radius: 90%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  margin: auto;
}

.dog_mouth:after,
.dog_mouth:before {
  content: '';
  font-size: 1px;
  width: 5px;
  height: 5px;
  border: 4px solid white;
  background-color: white;
  margin: 1px;
  position: relative;
  top: 0px;
}

.dog_mouth_2 {
    width: 100px;
    height: 90px;
    background-color: #dccac5;
    border-radius: 100%;
    position: relative;
    left: 25px;
    bottom: 55px;
}

/* --------------------------------cat-------------------------------- */
/* #8e8e8e 고양이 무늬색 */

@keyframes cat_mouth {
  0% {
    height: 20px;
  }
  100% {
    height: 45px;
  }
}

@keyframes cat_ear_left {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-70deg);
  }
}

@keyframes cat_ear_right {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

.cat {
  margin: 50px 0 0 460px;
  border: 40px solid #fafafa;
  width: 245px;
  height: 250px;
  background-color: #f5f4f3;
  border-top-right-radius: 80%;
  border-top-left-radius: 80%;
  border-bottom-left-radius: 105%;
  border-bottom-right-radius: 105%;
  float: right;
  position: absolute;
  top: 180px;   
/*  right: 50px;*/
}

.cat_ear {
  width: 35px;
/*  background-color: #6a150e;*/
  height: 40px;
  position: absolute;
  top: -25px;
}

.cat_ear.right {
  animation: cat_ear_right 1s infinite alternate;
  right: -20px;
  transform: rotate(45deg);
  transform-origin: left center;
/*  background-color: #f9cce3;*/
  border-top: 8px solid #8e8e8e;
  border-left: 5px solid #8e8e8e;
/*  border-right: 8px solid #8e8e8e;*/
  border-top-right-radius: 150px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 30px;
}

.cat_ear.left {
  animation: cat_ear_left 1s infinite alternate;
  left: -20px;
  transform: rotate(-45deg);
  transform-origin: right center;
/*    background-color: #f9cce3;*/
  border-top: 8px solid #8e8e8e;
/*  border-left: 8px solid #8e8e8e;*/
  border-right: 5px solid #8e8e8e;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 30px;
}

.cat_eye_right{
  transform: rotate(0deg);
  width: 85px;
  height: 90px;
  background-color: #8e8e8e;
  border-top-left-radius: 75%;
  border-bottom-right-radius: 80%;
  position: relative;
  left: 0px;
  top: -90px;
}

.cat_eye_left{
  transform: rotate(0deg);
  width: 85px;
  height: 90px;
  background-color: #8e8e8e;
  border-top-right-radius: 75%;
  border-bottom-left-radius: 90%;
  position: relative;
  left: 80px;
  top: 0px;
}

.cat_eye_l {
  width: 27px;
  height: 27px;
  background-color: #333;
  display: inline-block;
  border-top-left-radius: 10%;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 10%;
  border: 6px solid #333;
  margin: 40px 7px 10px;
  position: relative;
  bottom: 155px;
  left: -3px;
  transform: rotate(-28deg);
}

.cat_eye_in_l {
  width: 13px;
  height: 13px;
  background-color: #fff;
  display: inline-block;
  border-top-left-radius: 80%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 80%;
  border: 5px solid #fff;
  margin: 40px 7px 15px;
  position: relative;
  bottom: 157px;
  right: 40px;
  transform: rotate(-41deg);
}

.cat_eye_r {
  width: 27px;
  height: 27px;
  background-color: #333;
  display: inline-block;
  border-top-left-radius: 80%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 80%;
  border: 6px solid #333;
  margin: 40px 7px 10px;
  position: relative;
  bottom: 155px;
  left: 7px;
  transform: rotate(28deg);
}

.cat_eye_in_r {
  width: 13px;
  height: 13px;
  background-color: #fff;
  display: inline-block;
  border-top-left-radius: 80%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 80%;
  border: 5px solid #fff;
  margin: 50px 20px 15px;
  position: relative;
  bottom: 240px;
  left: 43px;
  transform: rotate(-49deg);
}

.cat_nose {
  border-top: 13px solid #f9cce3;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  width: 20px;
  margin: 0 auto;
  border-top-left-radius: 65%;
  border-top-right-radius: 65%;
  border-bottom-left-radius:30%;
  border-bottom-right-radius: 30%;
  position: relative;
  bottom: 258px;
  left: 2px;
}

.cat_nose:after {
  content: '';
  width: 2px;   /* 인중 */
  height: 30px;
  background-color: #f9cce3;
  position: absolute;
  left: -1px;
  right: 0;
  top: -1px;
  margin: auto;
}

.cat_mouth {
  animation: cat_mouth 1s infinite alternate;
  width: 40px;
  height: 60px;
  border-bottom: 10px solid #f5f4f3;
  background-color: #5c0e0e;
  border-top-left-radius: 90%;
  border-top-right-radius: 90%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 129px;
  margin: auto;
}

.cat_mouth_tooth {
  width: 24px;
  height: 8px;
  background-color: #fff;
  border-top-left-radius: 180%;
  border-top-right-radius: 180%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  position: absolute;
  left: 0;
  right: 0;
  top: 130px;
  margin: auto;
}
