<<<<<<< HEAD
.main-body #diary-pet-info {
    margin-top: 100px;
    margin-left: 100px;
    float: left;
    width: 290px;
    height: 100px;
=======
.main-body {
    text-align: center;

}
.main-body .diary-pet-info {
    width: 250px;
    height: auto;
>>>>>>> 5242c8c41066182e6c5c6aa97a31aedeeffa0654
}

#right {
    margin-top: 50px;
    float: right;
    width: 700px;
}

.addSce a {
    margin-top: 7px;
    float: right;
    color: black;
    text-decoration: none;
    margin-right: 25px;
}

.addSce a:hover {
    text-decoration: none;
    color: #000;
}

.addSce button {
    float: right;
    margin-right: 100px;
    margin-top: 0px;
}

.petName {
    border: none;
    width:100px;
    align-content: flex-start;
    text-align: left;
    background-color: #ffffff;
}

.innerTable {
    vertical-align: top;
}

.pInfo {
    margin-left: 10px;
    float: left;
}

.mImg {
    border: 5px solid #19d4cb;
    border-radius: 50%;
    height: 100px;
    width: 100x;
}

.close {
    font-size: 2.0em;
}

#addBtn {
    width: 120px;
    height: 35px;
    font-size: 15px;
    float: right;
}

#calendar {
<<<<<<< HEAD
    float: right;
    margin-right: 100px;
    width: 750px;
    height: auto;
/*    border: 1px solid black;*/
    z-index: 599;
}
=======
/*    margin-left: 300px;*/
    width: 1024px;
    border: 1px solid black;
}
>>>>>>> 5242c8c41066182e6c5c6aa97a31aedeeffa0654
