.main-body {
    width: 1024px;
    height: auto;
    margin: 0 auto;
    text-align: center;

}
#diary-pet-info {
    margin-top: 12px;
    float: left;
    width: 300px;
    height: auto;
}

.addSce {
    float: left;
    width: 300px;
    margin: 16px 0;
}

.addSce a {
/*    margin-left: 20px;*/
    color: black;
    text-decoration: none;
}

/*
.addSce a:hover {
    text-decoration: none;
    color: #000;
}
*/

/*
.addSce button {
    float: right;
    margin-left: 25px;
    top: 6px;
}
*/

.addSce #my-today-button {
    float: right;
}

.addSce #petadd {
    float: left;
}

.addSce #txtadd {
    margin: 0 auto;
}

.innerTable {
    width: 300px;
    height: 100px;
    background-color: #f2f2f2;
        margin-bottom: 10px;
}

.pName {
    margin-top: 8px;
    margin-left: 10px;
    float: left;
}

.petName {
    border: none;
    width:100px;
    margin-top: 8px;
    margin-left: -15px;
    text-align: left;
    background-color: #f2f2f2;
}

.pInfo {
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    line-height: 23px;
}

.pColor {
    margin-bottom: 10px;
    margin-left: 5px;
    float: left;
    
}

.mImg {
    border-radius: 100%;
    height: 90px;
    width: 90px;
}

.close {
    font-size: 2.0em;
}

#addBtn {
    width: 120px;
    height: 35px;
    font-size: 15px;
    float: right;
}

#calendar {
    margin-top: 25px;
    float: right;
    width: 700px;
    background-color: #fff;
/*    border: 1px solid black;*/
}

.box {
    margin-left: 100px;
    width: 400px;
}

/* Checkbox hack */
.switch input {
	cursor: pointer;
	height: 100%;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 100;
}

/* Container */
.switch {
  float: left
	height: 27px;
  margin-left: 115px;
  margin-top: 7px;
	position: relative;
/*  bottom: 46px;*/
	width: 55px;
}

/* Background unchecked */
.switch label {
	background: #e9513a;
  color: #c72f18;
	border-radius: 2px;
	display: block;
	height: 100%;
	position: relative;
	transition: all .15s ease;
  width: 100%;
}

/* Slider unchecked */
.switch label div {
	background: #fff;
	border-radius: 2px;
	display: block;
	height: 18px;
	left: 3px;
	position: absolute;
	top: 2px;
	transition: all .15s ease;
  width: 23px;
	z-index: 3; 
}

/* Vertical lines on slider */
.switch label div:before {
	background: #d3d3d3;
  bottom: 0;
  box-shadow: -6px 0 0 0 #d3d3d3,
				6px 0 0 0 #d3d3d3; 
  content: '';
	display: block;
  height: 15px;
	left: 0;
	margin: auto;
  position: absolute;
  right: 0;
	top: 0;
  transition: all .15s ease;
  width: 3px;
}

/* Icon styles */
.switch .fa-check {
  font-size: 20px;
	left: 5px;
	position: relative;
	z-index: 2;
}

.switch .fa-times {
  font-size: 20px;
	left: 8px;
  position: relative;
	z-index: 2;
}

/* Checked States */
.switch input:checked~label {
	background: #2fca6c;
  color: #13ad4f;
}

.switch input:checked~label div {
	left: 29px;
}