@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@baseMargin : 0 auto;
@baseBorder: dashed 3px #000;

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}


#top {
    img {
        margin: 30px 0;
        max-width: 400px;
        .center-block();
    }
}
#center {
    border-top: @baseBorder;
    border-bottom: @baseBorder;
    #lista1 {
        margin: 30px auto 23px auto;
        .als-item {
            margin: 0px 9px;
            max-width: 128px;
            img {
                position: relative;
                display: block;
                vertical-align: middle;
                margin-bottom: 8px;
                height: 30px;
            }
        }
        .als-prev {
            top: 58px;
            width: 15px;
            height: 22px;
            left: 10px;
        }
        .als-next {
            top: 58px;
            width: 15px;
            height: 22px;
            right: 10px;
        }
    }
}
