.main-body {
    width: 1024px;
    height: auto;
    margin: 0 auto;
    text-align: center;

}
#diary-pet-info {
    margin-top: 12px;
    float: left;
    width: 300px;
    height: auto;
}

.addSce {
    float: left;
    width: 300px;
    margin: 16px 0;
}

.addSce a {
/*    margin-left: 20px;*/
    color: black;
    text-decoration: none;
}

/*
.addSce a:hover {
    text-decoration: none;
    color: #000;
}
*/

/*
.addSce button {
    float: right;
    margin-left: 25px;
    top: 6px;
}
*/

.addSce #my-today-button {
    float: right;
}

.addSce #petadd {
    float: left;
}

.addSce #txtadd {
    margin: 0 auto;
}

.innerTable {
    width: 300px;
    height: 100px;
    background-color: #f2f2f2;
        margin-bottom: 10px;
}

.pName {
    margin-top: 8px;
    margin-left: 10px;
    float: left;
}

.petName {
    border: none;
    width:100px;
    margin-top: 8px;
    margin-left: -15px;
    text-align: left;
    background-color: #f2f2f2;
}

.pInfo {
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    line-height: 23px;
}

.pColor {
    margin-bottom: 10px;
    margin-left: 5px;
    float: left;
    
}

.mImg {
    border-radius: 100%;
    height: 90px;
    width: 90px;
}

.close {
    font-size: 2.0em;
}

#addBtn {
    width: 120px;
    height: 35px;
    font-size: 15px;
    float: right;
}

#calendar {
    margin-top: 25px;
    float: right;
    width: 700px;
    background-color: #fff;
/*    border: 1px solid black;*/
}

.box {
    margin-left: 100px;
    width: 400px;
}