.check_box{
  display: block;
  margin: 50px auto;
}

.check_box[type="checkbox"]{
  width: 60px;
  position: relative;
  visibility: hidden;
}
.check_box[type="checkbox"]:before{
  visibility: visible;
  -webkit-transition: all 0.5s;
  position: relative;
  display: block;
  width: 60px;
  height: 20px;
  border: 1px solid #808080;
  border-radius: 50px;
  content: "";
  background: #f08270;
  box-shadow: inset 0 0 7px #333, 0 -4px 4px #b9b9b5, 0 4px 4px #f4f4f4;
}
.check_box[type="checkbox"]:after{
  visibility: visible;
  -webkit-transition: all 0.3s;
  position: absolute;
  top: -4px;
  left: -1px;
  display: block;
  width: 30px;
  height: 25px;
  border: 5px solid #ededec;
  border-radius: 50px;
  content: "";
  background: #fff;
  box-shadow: 0 2px 5px #333;
  background: #d5d4cd;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d5d4cd), to(#f8f8f7));
background: -webkit-linear-gradient(#d5d4cd 0%, #f8f8f7 100%);
background: -moz-linear-gradient(#d5d4cd 0%, #f8f8f7 100%);
background: -o-linear-gradient(#d5d4cd 0%, #f8f8f7 100%);
background: linear-gradient(#d5d4cd 0%, #f8f8f7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d4cd', endColorstr='#f8f8f7',GradientType=0 );

}
.check_box[type="checkbox"]:checked:before{
  position: absolute;
  display: block;
  width: 60px;
  height: 20px;
  border: 1px solid #808080;
  border-radius: 50px;
  content: "";
  background: #49dccf;
}
.check_box[type="checkbox"]:checked:after{
  -webkit-transition: all 0.3s;
  position: absolute;
  top: -4px;
  left: 30px;
  display: block;
  width: 30px;
  height: 25px;
  border: 5px solid #ededec;
  border-radius: 50px;
  content: "";
  background: #fff;
  box-shadow: 0 2px 5px #333;
  background: #d5d4cd;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d5d4cd), to(#f8f8f7));
background: -webkit-linear-gradient(#d5d4cd 0%, #f8f8f7 100%);
background: -moz-linear-gradient(#d5d4cd 0%, #f8f8f7 100%);
background: -o-linear-gradient(#d5d4cd 0%, #f8f8f7 100%);
background: linear-gradient(#d5d4cd 0%, #f8f8f7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d4cd', endColorstr='#f8f8f7',GradientType=0 );
}
