@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

#main-body {
  position: relative;
  top: 130px;
  width: 1024px;
  padding-bottom: 200px;
}

#boastname {
  top: -60px;
  text-align: center;
  position: absolute;
  color: #394141;
  font-size: 60px;
  transition: font-size 0.35s;
  width: 100%;
  font-family: font-family: 'Jeju Gothic', sans-serif;
}

.container {
  padding-right: 0;
  padding-left: 0;
  width: 1024px;
}

button {
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active {
  background: #68b8c4;
}

button:focus { /* 활성화 시 버튼 주변의 라인을 없애줌 */
  outline: 0 none;
}

/* 리스트 css */
.container .mix {
  display: none;
  height: 500px;
  margin-top: 20px;
}

div.portfoliocard {
  position:relative;
  height:500px;
  width:240px;
  box-shadow:0px -1px 3px rgba(0,0,0,0.1), 0px 2px 6px rgba(0,0,0,0.5);
  border-radius:6px;
  margin-right: 4px;
  margin-left: 8px;
  margin-bottom: 10px;
  overflow:hidden;
  z-index:100;
}
div.portfoliocard div.coverphoto img {
	width:240px;
	height:250px;
	background-position:center center;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	z-index:99;
}

div.portfoliocard div.profile_picture img {
	width:110px;
	height:110px;
	position:absolute;
	top:195px;
	left:20px;
	border-radius:100%;
	border:4px solid #fff
}

div.portfoliocard div.left_col, div.portfoliocard div.right_col {
	float:left;
	height:250px;
}

div.portfoliocard div.left_col {
  width:31%;
  padding-top:85px;
  box-sizing:border-box;
  background:rgba(245,245,245,1);
}

div.portfoliocard div.right_col {
	width:69%;
	background:rgba(245,245,245,1);
	border-left:1px solid rgba(230,230,230,1);
	box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
	border-bottom-right-radius:5px;
}


div.portfoliocard ul.contact_information {
	margin-top: 35px;
	padding-left:13px;
	list-style-type:none;
}

div.portfoliocard ul.contact_information li {
  margin-top: 5px;
	height:25px;
	width:140px;
	line-height:23px;
	font-weight:400;
	font-size:15px;
  text-align: center;
  color:rgba(140,140,140,1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.portfoliocard div.views {
	margin:20px auto;
  text-align: center;
	font-weight:500;
	font-size:13px;
	color:rgba(30,30,30,0.5);
}

div.portfoliocard div.view_count {
	font-weight:400;
	font-size:20px;
	color:rgba(140,140,140,1);
}

/* -- 디테일 모달 css -- */
#saleModal .modal-content, #saleModal .modal-dialog {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1024px;
/*  height: 630px;*/
  background-color: #2d335e;
  border-radius: 0;
}

#closeBtn {
  font-size: 32px;
  color: #fff;
  opacity: 0.8;
}

#closeBtn:hover {
  opacity: 1;
}

#saleModal .modal-body {
  height: 510px;
}

/* 왼쪽 이미지 슬라이드 -> (디테일 모달)*/
#saleModal #carousel-example-generic {
  float: left !important;
  width: 500px;
  height: 480px;
  background-color: #fff;
}

div.item {
  height: 480px;
  position: relative;
}

div.item img {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slideimg {
  max-width: 480px;
  padding-right: auto;
  padding-left: auto;
}

#carousel-example-generic li {
  border: 2px solid #2d335e;
  padding: 1px;
  zoom: 1.5;
}

#carousel-example-generic li.active {
    background-color: #d06a79;
}

.carousel-control {
    
}

/* 오른쪽 컨텐트들 -> (디테일 모달)*/
.contents {
  border-top: 1px solid #d06a79;
  float: right !important;
  width: 480px;
  background-color: #2d335e;
}

.title {
  height: 30px;
  text-align: center;
  font-size: 21px;
  color: #fff;
}

.content {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  height: 175px;
  overflow-y: scroll;
  margin: 10px;    
}

.input {
  font-size: 13px;
  border-top: 1px solid #d06a79;
  border-bottom: 1px solid #d06a79;
  background-color: #2d335e;
  padding: 0 9px;
}

.input > textarea {
  margin: 10px auto;
  width: 405px;
  height: 40px;
  overflow: visible;
  border: 2px solid #d06a79;
  border-radius: 8px;
  resize: none;
}

.input > #comDelBtn {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  background-color: #d06a79;
  color: #fff;
  border: 2px solid #d06a79;
  border-radius: 8px;
}

.input > #comDelBtn:hover {
  color: #a12141;
  border: 2px solid #a12141;
}

.commentin:focus {
  outline-style: solid;
  outline-width: 0px;
}

.comments {
  width: 480px;
  height: 220px;
  overflow-y: scroll; 
  border-bottom: 1px solid #d06a79;
  background-color: #2d335e;
}

.comment {
  margin-top: 5px;
  min-height: 50px;
  margin-bottom: 7px;
  color: #fff;
}

.commentimg {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.commentname {
  float: left;
  font-size: 15px;
  font-weight: 900;
  max-width: 360px;
  margin-left: 10px;
  color: #d06a79;
}

.fa-close {
  float: right;
  color: #d06a79;
  margin-right: 20px;
  margin-top: 3px;
  font-size: 22px;
}

.commenttext {
  width: 390px;
  min-height: 55px;
  font-size: 14px;
  word-break: break-all;
  border-bottom: 1px solid #fff;
  background-color: rgba(0,0,0,0);
  margin-left: 70px;
  padding-bottom: 7px;
  padding-top: 20px;
}

#checkModal .modal-content, #checkModal .modal-dialog {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 0;
}

#checkModal .modal-header {
  font-size: 15px;
  font-weight: 700;
  margin-top: -5px; 
  padding-bottom: 10px;
}

#checkModal .modal-body {
  height: 40px;
  padding-top: 14px;
  font-size: 15px;
}

#checkModal .modal-footer {
  height: 45px;
}

#checkModal .modal-footer button {
  margin-top: -8px;
  height: 30px;
  font-size: 13px;
  border-radius: 0;
}

#checkModal .modal-footer #closeDel {
  font-weight: bold;
  color: #2d335e;
}
















